<!-- 管理者側商品一覧 -->
<div style="text-align: center; margin-bottom: 30px;">
<h1>商品一覧</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
<!-- 一商品 -->
			<div id="box">
				<table style="text-align: center;">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>アーティスト名</td>
					</tr>
					<tr>
					  <td>値段：　1000円</td>
					</tr>
					<tr>
					  <td>在庫：　oo　枚</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 一区切り -->
<!-- 一商品 -->
			<div id="box">
				<table style="text-align: center;">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>アーティスト名</td>
					</tr>
					<tr>
					  <td>値段：　1000円</td>
					</tr>
					<tr>
					  <td>在庫：　oo　枚</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 一区切り -->
<!-- 一商品 -->
			<div id="box">
				<table style="text-align: center;">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>アーティスト名</td>
					</tr>
					<tr>
					  <td>値段：　1000円</td>
					</tr>
					<tr>
					  <td>在庫：　oo　枚</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 一区切り -->
<!-- 一商品 -->
			<div id="box">
				<table style="text-align: center;">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>アーティスト名</td>
					</tr>
					<tr>
					  <td>値段：　1000円</td>
					</tr>
					<tr>
					  <td>在庫：　oo　枚</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 一区切り -->
<!-- 一商品 -->
			<div id="box">
				<table style="text-align: center;">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>アーティスト名</td>
					</tr>
					<tr>
					  <td>値段：　1000円</td>
					</tr>
					<tr>
					  <td>在庫：　oo　枚</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 一区切り -->
<!-- 一商品 -->
			<div id="box">
				<table style="text-align: center;">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>アーティスト名</td>
					</tr>
					<tr>
					  <td>値段：　1000円</td>
					</tr>
					<tr>
					  <td>在庫：　oo　枚</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 一区切り -->
<!-- 一商品 -->
			<div id="box">
				<table style="text-align: center;">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>アーティスト名</td>
					</tr>
					<tr>
					  <td>値段：　1000円</td>
					</tr>
					<tr>
					  <td>在庫：　oo　枚</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 一区切り -->
<!-- 一商品 -->
			<div id="box">
				<table style="text-align: center;">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>アーティスト名</td>
					</tr>
					<tr>
					  <td>値段：　1000円</td>
					</tr>
					<tr>
					  <td>在庫：　oo　枚</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 一区切り -->
<!-- 一商品 -->
			<div id="box">
				<table style="text-align: center;">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>アーティスト名</td>
					</tr>
					<tr>
					  <td>値段：　1000円</td>
					</tr>
					<tr>
					  <td>在庫：　oo　枚</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 一区切り -->
<!-- kaminariここに入れる -->
		</div>
	</div>
</div>