<!-- ユーザー側商品一覧 -->

<!-- スライドショー部分 -->
<div id="container">
        <div id="theTarget">
            <div style="background-image: url(assets/test1.jpg)"></div>
            <div style="background-image: url(assets/test2.jpg)"></div>
            <div style="background-image: url(assets/test3.jpg)"></div>
            <div style="background-image: url(assets/test4.jpg)"></div>
            <div style="background-image: url(assets/test5.jpg)"></div>
        </div>
</div>
<!-- 商品一覧ページ -->

<div class="container">
	<div class="row">
		<div class="col-lg-9">
<!-- 繰り返し時ここから編集 -->
<h1 id="title">CD-List</h1>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 一区切り -->
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div id="box">
				<table class="item-box">
					<tbody>
					<tr>
					  <td>
						<img src=assets/test1.jpg height="150" width="200">
					  </td>
					</tr>
					<tr>
					  <td><%= link_to "商品名", "items" %></td>
					</tr>
					<tr>
					  <td>1000円</td>
					</tr>
					<tr>
					  <td>売り切れ</td>
					</tr>
					</tbody>
				</table>
			</div>
<!-- 繰り返し時ここまで編集 -->
<!-- kaminariをここに入れる
 -->
		</div>
<!-- ランキング -->

		<div class="col-lg-3">
			<h2 id="title">RANKING</h2>
			<div id="subtitle">人気Top 5</div>
			<div id="backbox">
<!-- 一項目 -->
				<div id="rankbox">
					<tr>
					  <td>
						1
					  </td>
					  <td><img src=assets/test1.jpg height="100" width="150"></td>
					</tr>
					<div>
					  <%= link_to "商品名", "items" %>
					</div>
					<div>
					   1000円
					</div>
				</div>
<!-- 一区切り -->
<!-- 一項目 -->
				<div id="rankbox">
					<tr>
					  <td>
						2
					  </td>
					  <td><img src=assets/test1.jpg height="100" width="150"></td>
					</tr>
					<div>
					  <%= link_to "商品名", "items" %>
					</div>
					<div>
					   1000円
					</div>
				</div>
<!-- 一区切り -->
<!-- 一項目 -->
				<div id="rankbox">
					<tr>
					  <td>
						3
					  </td>
					  <td><img src=assets/test1.jpg height="100" width="150"></td>
					</tr>
					<div>
					  <%= link_to "商品名", "items" %>
					</div>
					<div>
					   1000円
					</div>
				</div>
<!-- 一区切り -->
<!-- 一項目 -->
				<div id="rankbox">
					<tr>
					  <td>
						4
					  </td>
					  <td><img src=assets/test1.jpg height="100" width="150"></td>
					</tr>
					<div>
					  <%= link_to "商品名", "items" %>
					</div>
					<div>
					   1000円
					</div>
				</div>
<!-- 一区切り -->
<!-- 一項目 -->
				<div id="rankbox">
					<tr>
					  <td>
						5
					  </td>
					  <td><img src=assets/test1.jpg height="100" width="150"></td>
					</tr>
					<div>
					  <%= link_to "商品名", "items" %>
					</div>
					<div>
					   1000円
					</div>
				</div>
<!-- 一区切り -->

		</div>
	</div>
</div>
</div>



